.right-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@keyframes moveInSpace {
    50% {
        transform: translateY(100px) rotate(-30deg) scale(0.7);
    }
}

@keyframes moveInSpaceTablet {
    50% {
        transform: translateY(100px) rotate(-30deg) scale(0.5);
    }
}

@media (min-width:1200px) {
    .astronaut {
        transform: rotate(20deg);
        animation: moveInSpace 12s ease-in-out infinite alternate;
        z-index: 100;
    }
}

@media (max-width: 1200px) {
    .svgs {
        align-items: flex-start;
    }

    .astronaut {
        transform: rotate(20deg);
        transform: scale(0.5);
        animation: moveInSpaceTablet 12s ease-in-out infinite alternate;
        z-index: 100;
    }
}

@media (max-width: 768px) {
    .right-section {
        justify-content: center;
    }

    .astronaut {
        z-index: -1;
    }
}