.cards {
    perspective: 500px;
    width: 100%;
}

.card {
    background: #ffffff00;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
    width: 30vw;
    padding: 10px 100px;
}

.Title {
    font-size: 4rem;
}

.card:hover {
    transform: translateZ(10px) rotateX(10deg) rotateY(10deg);
}

.card_title {
    color: #fff;
    position: absolute;
    padding-top: 70px;
    width: 100%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform .5s;
    font: 700 1.5rem monospace;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

@media (max-width: 1200px) {
    .cards {
        z-index: 100;
        position: relative;
        top: 350px;
        margin: -100vh auto;
        padding: 0;
        width: fit-content;
        height: 120px;
        /* left: 0; */
    }

    .card .card_title {
        font-size: 24px;
    }

}

@media (min-width: 768px) {
    .card_title {
        color: #fff;
        z-index: 10000;
        position: absolute;
        padding: 70px 10%;
        width: 100%;
        right: 20px;
        transform: translateY(-50%);
        transition: transform .5s;
        font: 200 1.5rem monospace;
        text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
}