.meteor-heading {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    font-weight: 800;
}

.upcoming-meteors {
    display: flex;
    padding: 30px 20px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.single-meteor {
    display: flex;
}

.page3 .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    height: 100%;
    gap: 50px;
}

.container {
    position: relative;
    font-family: sans-serif;
    max-width: 500px;
}

.container .box {
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: #25293ed6;
    box-shadow: 0 15px 25px #00000099;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
}

.container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
}

.container .box div strong {
    display: block;
    margin-bottom: .5rem;
}

.container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
}

.container .box div span {
    font-size: .7rem;
    font-weight: 300;
}

.container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
}

.container .box:hover {
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6);
}

.page3 .right {
    width: 50%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
}

.page3 .right img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    z-index: 100;
    object-fit: cover;
    border-radius: 100%;
}

@media (max-width: 1200px) {
    .meteor-heading {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .meteor-heading {
        font-size: 2rem;
    }

    .page3 {
        padding: 0px;
    }

    .page3 .left {
        padding: 0;
        padding: 0 15px;
    }

    .page3 .right img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1000px) {

    .page3 .left {
        position: absolute;
        z-index: 1000;
        margin: 60px auto;
        width: 100%;
        justify-content: flex-start;
    }

    .page3 .right {
        position: absolute;
        margin: 60px auto;
        width: 100%;
    }

    .container .box:hover {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
    }
}