.weather .weather-heading {
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    font-weight: 800;
    padding: 50px;
}

.weather .cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.weather .card {
    position: relative;
    transform: scale(1.5);
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #25293ed6;
    box-shadow: 0 15px 25px #00000099;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: default;
}

.weather .card:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

.weather .city {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: white;
}

.weather .weather {
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: rgb(197, 197, 197);
}

.weather .temp {
    font-size: 1.8em;
    color: white;
}

.weather .minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather .min,
.max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
}

.weather .max {
    align-items: flex-start;
    border-left: 2px solid white;
}

.weather .maxHeading,
.minHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: white;
}

.weather .maxTemp,
.minTemp {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
}

/* .weather .cardContainer::before {
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: -1;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transition: all 1s;
} */

.weather .cardContainer:hover::before {
    transform: translate(-50px, 50px);
}